<footer class="mb-40">
    </footer>
</body>
<script>
    // JavaScript function to show content based on the clicked tab
    function showTabContent(tabId) {
        // Hide all tab content
        var contents = document.querySelectorAll('.tab-content');
        contents.forEach(content => {
            content.classList.add('hidden');
        });

        // Show the selected tab content
        document.getElementById(tabId).classList.remove('hidden');
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>

</html>